#section01 a {
  padding-top: 60px;
}
.scrollbutton {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.gridList {
  flexWrap: nowrap;
  transform: translateZ(0);
}

.gridOverflow {
  white-space:pre;
}

/* So this might be a little hacky, but its to get all browsers working*/

/* This is for chrome and safari mobile in which case the widths scale */
.minCardWidth {
  min-width: 600px;
  width: 600px;
}

/* this is the default firefox mobile app which has a different sacaling*/
@media only screen and (max-width: 600px) {
  .minCardWidth {
    min-width: 300px;
    width: 300px;
  }
}

/* This is for desktops */
@media only screen and (min-device-width: 700px) {
  .minCardWidth {
    min-width: 300px;
    width: 300px;
  }
}